DATABASE_URL=""

INFERENCE_API_URL=""

QDRANT_URL=""

DLX_NAME=""
QUEUE_NAME=""
FANOUT_QUEUE_NAME=""
RABBITMQ_URL=""

R2_ACCOUNT_ID=""
R2_BUCKET_NAME=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""

SENTRY_DSN=""